@font-face {
	font-family: Bebas;
	src: url('../fonts/Bebas-Regular.ttf');
}

.background{
    background-color: #FAF9F6;
}
.nav{
    display: "flex";
    flex-direction: row;
	min-height: 20vh;
}
.title a{
    float: left;
    color: #000000;
	margin: 1vw;
	text-decoration: none;
    font-family: Bebas;
	font-size: 200%;
	border-bottom: 5px solid transparent;
	padding-bottom: 3px;
	transition: border-bottom 0.7s;
    margin-bottom: 0.5%;
	margin-top: 0.5%;
	margin-left: 1.5%;
}
.navbar {
	float: right;
	margin-bottom: 1.5%;
	margin-top: 1%;
	margin-right: 1.5%;
}
.navbar a {
	color: #000000;
	margin: 1vw;
	text-decoration: none;
    font-family: Bebas;
	font-size: 150%;
	border-bottom: 5px solid transparent;
	padding-bottom: 3px;
	transition: border-bottom 0.7s;
}
.navbar a.active {
	color: #000000;
}
.navbar a:hover {
	padding-bottom: 3px;
	border-bottom: 5px solid #000000;
}
.navbar .active:hover {
	padding-bottom: 3px;
	border-bottom: 5px solid #000000;
}
.nav {
	min-height: 4vh;
}

.header {
    width: 100%; 
    height: auto;
    font-family: Bebas;
}
.header h2{
    letter-spacing: 2px;
    font-size:40px;
    color: #000000;
    margin-left: 2%;
    text-align: center;
}
.header p{
    text-align: left;
    margin-left:2%
}
.content-header{
    font-family: Bebas;
    letter-spacing: 0.5px;
}
.content-header h3{
    text-align: center;
}
.content-header img{
    width: 33%;
    background-color: #e3dbd5;
    padding: 10px;
    border-radius: 10px;
}
.column-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.column-container .column{
    width: 48%;
}

.content-box{
    font-family: Bebas;
    letter-spacing: 0.5px;
    background-color: #e3dbd5;
    padding: 19px;
    border-radius: 10px;
    float:none;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-box h3{
    text-align: center;
}
.content-box .column{
    width: 30%;
}
.column img{
    width:90%;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    float:none
}

.link a{
    color: #000000;
    right: 20%;
	margin: 1vw;
	text-decoration: none;
    font-family: Bebas;
	font-size: 150%;
	border-bottom: 5px solid transparent;
	padding-bottom: 3px;
	transition: border-bottom 0.7s;
}

.footer{
    font-family: Bebas;
    letter-spacing: 1px;
}

.content {
	min-height: 5vh;
}

.header {
    text-align: center;
}

.wrap {
	position: relative;
	min-height: 100vh;
}